body{
    background: rgb(168,235,112);
    background: linear-gradient(90deg, rgba(168,235,112,1) 0%, rgba(255,251,159,1) 100%);
}

.nav-bar{
    width:90%;
    margin:auto;
    margin-top:1%;
    margin-bottom: 1%;
    padding-top:.5%;
    padding-right:1%; 
    background:rgba(0,0,0, .2);
    background:linear-gradient(to bottom,rgba(0,0,0,0), rgba(0,0,0, .2));
    display: flex;
    justify-content:flex-end;
}

p {
    margin-left: 2%
}

.list-group-item {
    background-color: transparent !important;
    //margin-top: 5px;
    //background:rgba(0,0,0, .05);
    //background:linear-gradient(to bottom,rgba(0,0,0,0), rgba(0,0,0, .05));
}

.outer-container {
    //border: 1px solid black;
    margin:auto;
    width:90%;
    background:rgba(0,0,0, .2);
    background:linear-gradient(to top,rgba(0,0,0,0), rgba(0,0,0, .2));
    
    display: flex;
    flex-wrap: wrap;
    justify-content:space-around;
    align-items: center;
}

.title {
    //border: 1px solid black;
    text-align:center;
    width:100%;
}
#selfpic {
    margin:auto;
    width:70%;
}

.infoboxes {
    margin: 25px 25px 25px;
    max-width:100%;
    //border: 1px solid black;
    background:linear-gradient(to bottom,rgba(0,0,0,0), rgba(0,0,0, .1));
    text-align:center;
    width:500px;	 
}

#interests {
    margin-top: 25px;
    margin-bottom: 25px;
}
